.events{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.a{
    display: flex;
}
.work{
    width: 450px;
    height: 230px;
    margin-right: 20px;
}
.ab{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px ;
    margin-right: 20px;
    background-color: rgba(240, 214, 182, 0.986);
}
.ba{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px ;
    margin-right: 20px;
    background-color:  rgba(240, 214, 182, 0.986);
}
.Environment{
    width: 450px;
    height: 230px;
    margin-left: 20px;
}
.b{
    display: flex;
}
.ca{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px ;
    margin-right: 20px;
    background-color:  rgba(240, 214, 182, 0.986);
}
.Kannada{
    width: 500px;
    height: 230px;
    margin-right: 20px;
}
.c{
    display:flex;
}
.da{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px ;
    margin-right: 20px;
    background-color:  rgba(240, 214, 182, 0.986);
}
.d{
    display: flex;
}
.Graduation{
    width: 500px;
    height: 230px;
    margin-left: 20px;
}
.e{
    display: flex;
}
.ea{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin-left:20px ;
    margin-right: 20px;
    background-color:  rgba(240, 214, 182, 0.986);
}
.Secura{
    width: 540px;
    height: 230px;
    margin-right: 10px;
    margin-left: 20px;
}
.f{
    margin-left: 500px;
}